<h1>
  Payment Results
</h1>

<%@apr=params.fetch("user_apr").to_f%>
<%@years=params.fetch("user_years").to_f%>
<%@pv=params.fetch("user_pv").to_f%>


<%def payment(apr, pv, years)%>
  <% r = apr / 1200 %>
  <% n = years*12 %>

  <% numerator = r*pv %>
  <% denominator= 1-(1+r)**-n %>

  <% res = numerator/denominator #format to two decimal places %>

  <% return res %>
<% end %>

<% @the_result = payment(@apr, @pv, @years) %>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%=sprintf("%.4f",@apr)%>%
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    <%=@years%>
  </dd>

  <dt>
    Principal
  </dt>
  <dd>
    <%=number_to_currency(@pv, :unit => "$")%>
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%=number_to_currency(@the_result, :unit => "$")%>
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
